@font-face {
  font-family: 'Altivo Black';
  src: url('./fonts/Fontspring-DEMO-altivo-black.otf');
}
@font-face {
  font-family: 'Altivo Black Italic';
  src: url('./fonts/Fontspring-DEMO-altivo-blackitalic.otf');
}

@font-face {
  font-family: 'Altivo Bold';
  src: url('./fonts/Fontspring-DEMO-altivo-bold.otf');
}

@font-face {
  font-family: 'Altivo Bold Italic';
  src: url('./fonts/Fontspring-DEMO-altivo-bolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'Altivo Extra Light';
  src: url('./fonts/Fontspring-DEMO-altivo-extralight.otf');
}
@font-face {
  font-family: 'Altivo Extra Light Italic';
  src: url('./fonts/Fontspring-DEMO-altivo-extralightitalic.otf');
}
@font-face {
  font-family: 'Altivo Italic';
  src: url('./fonts/Fontspring-DEMO-altivo-italic.otf');
}
@font-face {
  font-family: 'Altivo Light';
  src: url('./fonts/Fontspring-DEMO-altivo-light.otf');
}
@font-face {
  font-family: 'Altivo Light Italic';
  src: url('./fonts//Fontspring-DEMO-altivo-lightitalic.otf');
}
@font-face {
  font-family: 'Altivo Medium';
  src: url('./fonts/Fontspring-DEMO-altivo-medium.otf');
}
@font-face {
  font-family: 'Altivo Medium Italic';
  src: url('./fonts/Fontspring-DEMO-altivo-mediumitalic.otf');
}
@font-face {
  font-family: 'Altivo Regular';
  src: url('./fonts/Fontspring-DEMO-altivo-regular.otf');
}
